<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-img" src="https://image.tmdb.org/t/p/original/vpILbP9eOQEtdQgl4vgjZUNY07r.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="movie-name">iheb zanina</h2>
      <div class="meta">
        <div class="info">
          <span class="rating"> <span>star</span> <span class="rating-value">7.5</span><span>/10</span> </span>
          <span>463 Reviews</span>
          <span>2021</span>
        </div>
        <div class="description mt-6">this is a good movie you need to watch it.</div>
      </div>
    </div>
  </div>
</div>
