<ng-container [ngSwitch]="site">
  <ng-container *ngSwitchCase="'YouTube'">
    <iframe
      width="100%"
      height="315"
      [src]="videoUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      <strong
        ><a [href]="'https://youtube.com/watch?v=' + key">{{ name }}</a></strong
      >
      <br />
      Published At: <i>{{ published_at }} </i>
    </p>
  </ng-container>
  <ng-container *ngSwitchCase="'Vimeo'">
    <iframe
      [src]="videoUrl"
      width="100%"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p>
      <strong
        ><a [href]="'https://vimeo.com/' + key">{{ name }}</a></strong
      >
      <br />
      Published At: <i> {{ published_at }} </i>
    </p>
  </ng-container>
</ng-container>
