@import '../../../style/colors';
:host ::ng-deep {
  .p-tabview-nav {
    justify-content: center;
  }
}

.poster {
  max-width: 100%;
}

.overview-paragraph {
  line-height: 1.9rem;
}

.stat {
  display: flex;
  margin-bottom: 15px;
  .label {
    width: 150px;
    font-weight: bold;
  }
  .value {
    color: $primaryColor;
  }
}

.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.actor {
  padding: 10px;

  span {
    display: block;
    text-align: center;
    width: 200px;
    margin: 10px 0px;
  }
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.circular--portrait img {
  width: 100%;
  height: auto;
}
