<ng-container *ngIf="movie">
  <app-slider [items]="[movie]" [isBanner]="true"></app-slider>
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img class="poster" [src]="imagesSizes.large + movie.poster_path" [alt]="movie.title" />
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <h2>Overview</h2>
          <P class="overview-paragraph">{{ movie.overview }}</P>
          <div class="stat">
            <div class="label">Release Date:</div>
            <div class="value">{{ movie.release_date | date: 'MM.dd.YYYY' }}</div>
          </div>
          <div class="stat">
            <div class="label">Original language:</div>
            <div class="value">
              {{ movie.original_language | uppercase }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Production countries:</div>
            <div class="value">
              <table style="width: 100%; text-align: left" *ngFor="let countries of movie.production_countries">
                <tr>
                  <th>
                    <span class="fi fi-{{ countries.iso_3166_1 | lowercase }}"></span>
                  </th>
                  <td>
                    <span> {{ countries.name }} </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="stat">
            <div class="label">Revenue:</div>
            <div class="value">
              {{ movie.revenue | currency }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Budget:</div>
            <div class="value">
              {{ movie.budget | currency }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Duration:</div>
            <div class="value">{{ movie.runtime }} <strong>minutes</strong></div>
          </div>

          <div class="stat">
            <div class="label">Status:</div>
            <div class="value">
              {{ movie.status }}
            </div>
          </div>
          <div class="stat">
            <div class="label">Genres:</div>
            <div class="value">
              <span *ngFor="let genre of movie.genres"> {{ genre.name }} . </span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let movievideo of movieVideos">
          <div class="col-12 md:col-4 lg:col-4">
            <app-video-embed
              [key]="movievideo.key"
              [site]="movievideo.site"
              [name]="movievideo.name"
              [published_at]="movievideo.published_at | date: 'MM/dd/YYYY'"
            >
            </app-video-embed>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngFor="let movieImage of movieImages?.backdrops">
          <div class="col-12 md:col-4 lg:col-4">
            <p-image
              [src]="imagesSizes.large + movieImage.file_path"
              alt="Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
  </p-tabView>
  <ng-container *ngIf="movieCredits">
    <p-carousel [value]="movieCredits.cast" [numVisible]="5" [numScroll]="1">
      <ng-template let-actor pTemplate="item">
        <div class="actor">
          <div class="circular--portrait">
            <img [src]="imagesSizes.medium + actor.profile_path" alt="" />
          </div>

          <strong
            ><span>{{ actor.name }} </span></strong
          >
          <span style="color: rgb(150, 150, 150)">{{ actor.character }} </span>
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
</ng-container>
